{% extends "base.html" %}

{% set SITESUBTITLE = article.title|striptags %}


{% block metadata %}
	<meta name="description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:title" content="{{ article.title|striptags }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col post">
        <div class="post-title">
          <img src="{{ SITEURL }}/images/{{ POST_IMAGE }}" alt="" title="Creation de https://www.deviantart.com/lancermoo/art/Gengar-v2-282533336" />
          <h1>{{ article.title }}</h1>
        </div>

        <span class="post-date">{{ article.locale_date }}</span>
        <br>
        {% if article.image %}
            <div class="row align-items-center justify-content-center">
                <div class="col-7 col-sm-7">
                    <img class="post-picture" src="{{ SITEURL }}/images/{{ article.image }}" alt="" title="{{ article.image_title }}">
                </div>
            </div>
        {% endif %}
        {% if article.category or article.tags %}
            <div class="row align-items-left justify-content-left">
                <div class="col-12 col-sm-auto">
                    <p>
                    {% if article.category %}
                      {% set article_categories = [] %}
                      {% for category, articles in categories %}
                          {% if category.url == article.category.url %}
                            {% if article_categories.append({'name': category.name, 'url': category.url, 'articles': articles|length()}) %}{% endif %}
                          {% endif %}
                      {% endfor %}

                      {% for category in article_categories|sort(reverse = True, attribute = 'articles') %}
                        {{ render_category(category) }}
                      {% endfor %}
                    {% endif %}
                    </p>
                </div>
                <div class="col-12 col-sm-auto">
                    <p>
                    {% if article.tags %}
                      {% set article_tags = [] %}
                      {% for tag, articles in tags %}
                        {% for t in article.tags %}
                          {% if tag.url == t.url %}
                            {% if article_tags.append({'name': tag.name, 'url': tag.url, 'articles': articles|length()}) %}{% endif %}
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                      {% for tag in article_tags|sort(reverse = True, attribute = 'articles') %}
                        {{ render_tag(tag) }}
                      {% endfor %}
                    {% endif %}
                    </p>
                </div>
            </div>
        {% endif %}
        <br>
    	{{ article.content }}
      {% if article.share_post %}
        <hr>
        <div id="post-share-links">
          <p class="short-bottom-margin"><i class="fa fa-share-alt" aria-hidden="true"></i> &nbsp;Partager</p>
          <a class="btn btn-tag" href="{{article.share_post['email']}}" target="_blank" title="Email"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email</a>
          <a class="btn btn-tag" href="{{article.share_post['diaspora']}}" target="_blank" title="Diaspora"><i class="fa fa-diaspora"></i>&nbsp;&nbsp;Diaspora</a>
          <a class="btn btn-tag" href="{{article.share_post['twitter']}}" target="_blank" title="Twitter"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a>
          <a class="btn btn-tag" href="{{article.share_post['facebook']}}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a>
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}

