{% extends "index.html" %}


{% block title %}
    Articles de {{ author.name }}
{% endblock %}


{% block top_center %}
    <h1>
        <a href="{{ SITEURL }}/{{ author.url }}" rel="bookmark" title="Lien permanent vers les articles de {{ author.name|e }}">Articles de {{ author.name }}</a>
    </h1>
{% endblock %}
