<!DOCTYPE html>

{% from "macros.html" import render_tag, render_category%}


<html lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns#">
	<head>
		<link href="http://gmpg.org/xfn/11" rel="profile">
		<link rel="icon" href="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<!-- Metadata -->
		{% block metadata %}
			<meta name="author" content="{{ AUTHOR|striptags }}"/>
			<meta name="description" content="{{ BIO|striptags }}" />
			<meta property="og:description" content="{{ BIO|striptags }}" />
			<meta property="og:title" content="{% if SITESUBTITLE %} {{ SITESUBTITLE|striptags }} - {% endif %}{{ SITENAME }}" />
			<meta property="og:type" content="website" />
			<meta property="og:url" content="{{ SITEURL }}" />
		{% endblock %}
		<meta property="og:image" content="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}" />

		<!-- Enable responsiveness on mobile devices-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<title>{% if SITESUBTITLE %} {{ SITESUBTITLE|striptags }} - {% endif %}{% block title %}{{ SITENAME }}{% endblock title %}</title>

		<!-- CSS -->
		<link href="//fonts.googleapis.com/" rel="dns-prefetch">
		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Signika:400,700&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.0/css/fork-awesome.min.css" integrity="sha256-sX8HLspqYoXVPetzJRE4wPhIhDBu2NB0kYpufzkQSms=" crossorigin="anonymous">
    	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        {% if TIPUE_SEARCH %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.css"/>
        {% endif %}

		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/poole.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/hyde.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/solarized-light.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" />

		<!-- Feeds (from plumage theme) -->
		{% set all_feeds = [] %}
		{% if FEED_ALL_ATOM %}
		  {% if all_feeds.append({'kind': 'Atom', 'url': FEED_ALL_ATOM, 'name': 'All posts'}) %}{% endif %}
		{% endif %}
		{% if FEED_ALL_RSS %}
		  {% if all_feeds.append({'kind': 'RSS', 'url': FEED_ALL_RSS, 'name': 'All posts'}) %}{% endif %}
		{% endif %}
		{% if FEED_ATOM %}
		  {% if all_feeds.append({'kind': 'Atom', 'url': FEED_ATOM, 'name': 'Latest posts'}) %}{% endif %}
		{% endif %}
		{% if FEED_RSS %}
		  {% if all_feeds.append({'kind': 'RSS', 'url': FEED_RSS, 'name': 'Latest posts'}) %}{% endif %}
		{% endif %}
		{% if CATEGORY_FEED_ATOM and category is defined %}
		  {% if all_feeds.append({'kind': 'Atom', 'url': CATEGORY_FEED_ATOM|format(category.slug), 'name': 'Category: ' + category.name}) %}{% endif %}
		{% endif %}
		{% if CATEGORY_FEED_RSS and category is defined %}
		  {% if all_feeds.append({'kind': 'RSS', 'url': CATEGORY_FEED_RSS|format(category.slug), 'name': 'Category: ' + category.name}) %}{% endif %}
		{% endif %}
		{% if TAG_FEED_ATOM and tag is defined %}
		  {% if all_feeds.append({'kind': 'Atom', 'url': TAG_FEED_ATOM|format(tag.slug), 'name': 'Tag: ' + tag.name}) %}{% endif %}
		{% endif %}
		{% if TAG_FEED_RSS and tag is defined %}
		  {% if all_feeds.append({'kind': 'RSS', 'url': TAG_FEED_RSS|format(tag.slug), 'name': 'Tag: ' + tag.name}) %}{% endif %}
		{% endif %}
		{% for feed in all_feeds %}
		  <link href="{{ FEED_DOMAIN }}/{{ feed.url }}" type="application/{{ feed.kind|lower }}+xml" rel="alternate" title="{{ SITENAME|e }} - {{ feed.name|e }} - {{ feed.kind }} Feed"/>
		{% endfor %}
	</head>

	<body class="theme-base-mine">
		{# Sidebar #}
		{% include 'sidebar.html' %}

		{# Content #}
		<div class="content container" role="main">
			{% block content %}
			{% endblock %}
		</div>

		{# Footer #}
		<footer class="footer fixed-bottom footer-about">
			<div class="container">
               <address>
               Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
               </address>
           </div>
        </footer>

        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        {% if TIPUE_SEARCH %}
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch_content.js"></script>
            <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tipuesearch_set_fr.js"></script>
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.min.js"></script>

        	<script>
        	  $(document).ready(function() {
        	    $('#tipue_search_input').tipuesearch({
        	        'mode' : 'json',
        	        'show': 10,
        	        'newWindow': false,
        	        'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
        	    });
        	  });
        	</script>
        {% endif %}

        {% block js %}{% endblock %}
	</body>
</html>
