{% extends "base.html" %}


{% set SITESUBTITLE = 'Catégories' %}



{% block content %}
  <div class="post-title">
    <h1>Catégories</h1>
  </div>
{% set all_categories = [] %}
            {% for category, articles in categories %}
                {% if all_categories.append({'name': category.name, 'url': category.url, 'articles': articles|length()}) %}{% endif %}
            {% endfor %}

            {% set more_used = [] %}
            {% set under_used = [] %}
            {% set total_categories = all_categories|sum(attribute = 'articles') %}
            {% for category in all_categories|sort(reverse = True, attribute = 'articles') %}
               {% if more_used|sum(attribute = 'articles') < total_categories / 5.0 or more_used[-1].articles == category.articles %}
                   {% if more_used.append(category) %}{% endif %}
               {% else %}
                   {% if under_used.append(category) %}{% endif %}
               {% endif %}
            {% endfor %}

            {% for (name, categorie_used) in [("Principales", more_used), ("Autres", under_used)] %}
                <p>
                    {% for category in categorie_used %}
                        {{ render_category(category) }}
                    {% endfor %}
                </p>
            {% endfor %}
{% endblock %}
