{% extends "base.html" %}

{% block content %}
	<div class="posts">
		{% for article in articles_page.object_list %}
			<div class="post">
				<h1 class="post-title" href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">
					<a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ article.title }}</a>
				</h1>
				<div class="row align-items-left justify-content-left">
					<div class="col-12 col-sm-9 text-left">
						<span class="post-date">{{ article.locale_date }}</span>
						<br>
						<br>
						{{ article.summary }}
					</div>
					{% if article.image %}
						<div class="col-0 col-sm-3">
							<img class="img-fluid rounded mx-auto img-responsive center-block"
							      src="{{ SITEURL }}/images/{{ article.image }}">

							{% if article.category or article.tags %}
						        {% if article.category %}

						          {% set article_categories = [] %}
						          {% for category, articles in categories %}
						              {% if category.url == article.category.url %}
						                {% if article_categories.append({'name': category.name, 'url': category.url, 'articles': articles|length()}) %}{% endif %}
						              {% endif %}
						          {% endfor %}

						          {% for category in article_categories|sort(reverse = True, attribute = 'articles') %}
						            {{ render_category(category) }}
						          {% endfor %}
						        {% endif %}

						        <br>

						        {% if article.tags %}

						          {% set article_tags = [] %}
						          {% for tag, articles in tags %}
						            {% for t in article.tags %}
						              {% if tag.url == t.url %}
						                {% if article_tags.append({'name': tag.name, 'url': tag.url, 'articles': articles|length()}) %}{% endif %}
						              {% endif %}
						            {% endfor %}
						          {% endfor %}

						          {% for tag in article_tags|sort(reverse = True, attribute = 'articles') %}
						            {{ render_tag(tag) }}
						          {% endfor %}
						        {% endif %}
							{% endif %}
						</div>
					{% endif %}
				</div>
				<a class="btn btn-block read-more" href="{{ SITEURL }}/{{ article.url }}"><span>Lire la suite ...&nbsp;&nbsp;</span></a>
			</div>
		{% endfor %}
	</div>

	<div class="pagination">
		{% if articles_page.has_previous() %}
		{% set num = articles_page.previous_page_number() %}
		<span class="pagination-item older"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">Récents</a></span>
		{% else %}
		<span class="pagination-item older">Récents</span>
		{% endif %}

		{% if articles_page.has_next() %}
		<span class="pagination-item newer"><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Anciens</a></span>
		{% else %}
		<span class="pagination-item newer">Anciens</span>
		{% endif %}
	</div>
{% endblock %}
