{% extends "base.html" %}


{% set SITESUBTITLE = 'Mots-clés' %}


{% block content %}
    <div class="row align-items-left justify-content-left">
        <div class="col-12 col-sm-6">
            <div class="post-title">
                <h1 class="" href="{{ SITEURL }}{{ CATEGORIES_URL }}">
                    <a href="{{ SITEURL }}{{ CATEGORIES_URL }}">Catégories</a>
                </h1>
            </div>
            {% set all_categories = [] %}
            {% for category, articles in categories %}
                {% if all_categories.append({'name': category.name, 'url': category.url, 'articles': articles|length()}) %}{% endif %}
            {% endfor %}

            {% set more_used = [] %}
            {% set under_used = [] %}
            {% set total_categories = all_categories|sum(attribute = 'articles') %}
            {% for category in all_categories|sort(reverse = True, attribute = 'articles') %}
               {% if more_used|sum(attribute = 'articles') < total_categories / 5.0 or more_used[-1].articles == category.articles %}
                   {% if more_used.append(category) %}{% endif %}
               {% else %}
                   {% if under_used.append(category) %}{% endif %}
               {% endif %}
            {% endfor %}

            {% for (name, categorie_used) in [("Catégories principales", more_used), ("Autres", under_used)] %}
                <p>
                    {% for category in categorie_used %}
                        {{ render_category(category) }}
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
        <div class="col-12 col-sm-6">
            <div class="post-title">
                <h1 href="{{ SITEURL }}{{ TAGS_URL }}">
                    <a href="{{ SITEURL }}{{TAGS_URL }}">Tags</a>
                </h1>
            </div>
            {% set all_tags = [] %}
            {% for tag, articles in tags %}
                {% if all_tags.append({'name': tag.name, 'url': tag.url, 'articles': articles|length()}) %}{% endif %}
            {% endfor %}

            {% set more_used = [] %}
            {% set under_used = [] %}
            {% set total_tags = all_tags|sum(attribute = 'articles') %}
            {% for tag in all_tags|sort(reverse = True, attribute = 'articles') %}
                {% if more_used|sum(attribute = 'articles') < total_tags / 5.0 or more_used[-1].articles == tag.articles %}
                    {% if more_used.append(tag) %}{% endif %}
                {% else %}
                    {% if under_used.append(tag) %}{% endif %}
                {% endif %}
            {% endfor %}

            {% for (name, tags_used) in [("Tags principaux", more_used), ("Autres", under_used)] %}
                <p>
                    {% for tag in tags_used %}
                        {{ render_tag(tag) }}
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
