{% macro render_tag(tag) -%}
    <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag"
            data-toggle="tooltip" class="btn btn-tag"
            title="{{ tag.articles }} article{{ 's' if tag.articles > 1 else '' }} avec ce tag">
            <span> {{ tag.name }} </span></a>
{%- endmacro %}

{% macro render_category(category) -%}
    <a href="{{ SITEURL }}/{{ category.url }}" rel="category"
            data-toggle="tooltip" class="btn btn-category"
            title="{{ category.articles }} article{{ 's' if category.articles > 1 else '' }} dans cette categorie">
            <span> {{ category.name }} </span></a>
{%- endmacro %}
