<nav class="sidebar" role="navigation">
	<div class="top container-fuild sidebar-sticky">
		<div class="sidebar-nav row top-align-text align-items-center justify-content-center">
			<div class="col-12">
				{% for title, link in MENUTARGETS %}
					{% set active_page = link == ("/%s"|format(output_file)).strip('index.html') -%}
					{% set full_link = SITEURL + link %}
					{% if active_page %}
						<a class="sidebar-nav-item active">
					{% else %}
						<a class="sidebar-nav-item" href="{{ full_link }}">
					{% endif %}
						{% if title == 'Home' %}
							<i class="fa fa-home"></i>
						{% else %}
							{{ title }}
						{% endif %}
					</a>
				{% endfor %}
			</div>
		</div>
		{% if TIPUE_SEARCH %}
			<form class="navbar-form navbar-right" role="search">
			  <div class="form-group col tipue-search-sidebar">
			    <div class="input-group">
			      <input type="text" name="q" id="tipue_search_input" title="3 lettres ou plus"
			             class="form-control search-query" placeholder="Rechercher" required />
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit"><i class="fa fa-search fa-fw"></i></button>
			      </span>
			    </div>
			  </div>
			</form>

			<div>
			    <div id="tipue_search_content"></div>
			</div>
		{% endif %}
	</div>
	<div class="bottom container-fuild sidebar-sticky">
		<div class="sidebar-about row bottom-align-text align-items-center justify-content-center">
			<h1>
				<a href="{{ SITEURL }}/">
					<img class="profile-picture" src="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}"
					 title="" alt="Profil picture">
					{{ SITENAME }}
				</a>
			</h1>
			<p class="lead"></p>
			<p class="lead">{{ BIO }} </p>
			<p></p>
		</div>
		<div class="sidebar-nav row">
			<div class="col">
				{% for name, link in SOCIAL %}
					{% if name == 'email' %}
						<a class="sidebar-nav-item-icon" rel="external" target="_blank" href="mailto:{{ link }}">
							<i class="fa fa-envelope"></i>
						</a>
					{% else %}
						<a class="sidebar-nav-item-icon" rel="external" target="_blank" href="{{ link }}">
							<i class="fa fa-{{ name|lower }}"></i>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		    <div class="col">
				<a class="sidebar-nav-item-icon icon-small" rel="external" target="_blank" href="{{ SITEURL }}/{{ FEED_ALL_RSS }}">RSS
					<i class="fa fa-rss"></i>
				</a>
				<a class="sidebar-nav-item-icon icon-small" rel="external" target="_blank" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">ATOM
					<i class="fa fa-feed"></i>
				</a>
			</div>
		</div>
	</div>
</nav>


