{% extends "base.html" %}


{% set SITESUBTITLE = tag.name|striptags %}


{% block content %}
  <dl class="">
    {% for article in articles %}
      <dt><abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr></dt>
      <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {% endfor %}
  </dl>
{% endblock %}
