{% extends "base.html" %}


{% set SITESUBTITLE = 'Tags' %}


{% block content %}
    <div class="post-title">
        <h1>Tags</h1>
    </div>
    {% set all_tags = [] %}
    {% for tag, articles in tags %}
        {% if all_tags.append({'name': tag.name, 'url': tag.url, 'articles': articles|length()}) %}{% endif %}
    {% endfor %}

    {% set more_used = [] %}
    {% set under_used = [] %}
    {% set total_tags = all_tags|sum(attribute = 'articles') %}
    {% for tag in all_tags|sort(reverse = True, attribute = 'articles') %}
        {% if more_used|sum(attribute = 'articles') < total_tags / 5.0 or more_used[-1].articles == tag.articles %}
            {% if more_used.append(tag) %}{% endif %}
        {% else %}
            {% if under_used.append(tag) %}{% endif %}
        {% endif %}
    {% endfor %}

    {% for (name, tags_used) in [("Tags principaux", more_used), ("Autres", under_used)] %}
        <p>
            {% for tag in tags_used %}
                {{ render_tag(tag) }}
            {% endfor %}
        </p>
    {% endfor %}

{% endblock %}
