{% extends "base.html" %}

{% set SITESUBTITLE = 'Wiki' %}

{% block content %}
  <div class="post-title">
      <h1>Des sujets divers !</h1>
  </div>

  <hr>

  {% set SHADERTARGETS = [
      { 'name': "Shader Toy",
        'detail': "Réaliser des shaders ou voir les créations des autres.",
        'link': "https://www.shadertoy.com/",
        'category': "Outil en ligne",
        'color': "bg-yellow1"
      },
      { 'name': "Graph Toy",
        'detail': "Construire des courbes en combinant des fonctions de bases.",
        'link': "http://www.iquilezles.org/apps/graphtoy/",
        'category': "Outil en ligne",
        'color': "bg-yellow1"
      },
      { 'name': "GlslViewer",
        'detail': "Voir en direct (pendant que l’on code) le rendu d’un shader.",
        'link': "https://github.com/patriciogonzalezvivo/glslViewer",
        'category': "Outil",
        'color': "bg-yellow2"
      },
      { 'name': "Book of shaders",
        'detail': "Un excellent tutoriel pas à pas(en construction).",
        'link': "https://thebookofshaders.com/",
        'category': "Livre",
        'color': "bg-green"
      },
      { 'name': "Alan Zucconi",
        'detail': "De nombreux tutoriels sur les shaders avec Unity.",
        'link': "https://www.alanzucconi.com/category/shader/",
        'category': "Tutoriel",
        'color': "bg-red"
      },
      ]
  %}


  {% set PCGTARGETS = [
      { 'name': "PCG in game",
        'detail': "Un regroupement de textes téléchargeables en PDF.",
        'link': "http://pcgbook.com/",
        'category': "Tutoriel",
        'color': "bg-red"
      },
      { 'name': "Kate Compton",
        'detail': "Introduit les différentes méthodes existantes.",
        'link': "http://galaxykate0.tumblr.com/post/139774965871/so-you-want-to-build-a-generator",
        'category': "Introduction",
        'color': "bg-blue"
      },
      { 'name': "Wiki",
        'detail': "Regroupe de nombreuses ressources sur le sujet.",
        'link': "http://pcg.wikidot.com/",
        'category': "Tutoriel",
        'color': "bg-red"
      },
      { 'name': "IA de Killzone",
        'detail': "Construction procédurale des tactiques dans les combats.",
        'link': "https://www.cgf-ai.com/docs/straatman_remco_killzone_ai.pdf",
        'category': "Introduction",
        'color': "bg-blue"
      },
      ]
  %}



  {% set OPENGLTARGETS = [
      { 'name': "Learn OpenGL",
        'detail': "Introduction très complète au OpenGl moderne.",
        'link': "https://learnopengl.com/",
        'category': "Tutoriel",
        'color': "bg-red"
      },
      ]
  %}


  {% set PROGRAMMINGTARGETS = [
      { 'name': "3Blue1Brown",
        'detail': "Revisite de nombreux concepts mathématiques de manière très ludique et avec de merveilleuses animations.",
        'link': "https://www.youtube.com/channel/UCYO_jab_esuFRV4b17AJtAw",
        'category': "Tutoriel",
        'color': "bg-red"
      },
      { 'name': "Can I use ?",
        'detail': "Permet de vérifier ce que les principaux navigateurs supportent ou pas.",
        'link': "https://caniuse.com/",
        'category': "Outil en ligne",
        'color': "bg-yellow1"
      },
      { 'name': "Scratchapixel",
        'detail': "Apprentissage de la programmation graphique et des outils mathématiques nécessaires.",
        'link': "https://www.scratchapixel.com/",
        'category': "Livre",
        'color': "bg-green"
      },
      { 'name': "The Nature of Code",
        'detail': "Simulation de phénomènes physiques ou d’entités naturelles.",
        'link': "http://natureofcode.com/",
        'category': "Livre",
        'color': "bg-green"
      },
      { 'name': "Red blob game",
        'detail': "Magnifique illustrations, code interactif, de nombreux sujets en lien avec la programmation.",
        'link': "https://www.redblobgames.com/",
        'category': "Tutoriel",
        'color': "bg-red"
      },
      ]
  %}


  {% set GAMETARGETS = [
      { 'name': "Crypt of the Necrodancer",
        'detail': "Roguelike en pixel art dans lequel le rythme est essentiel ...",
        'link': "http://www.necrodancer.com/",
        'background': "cryptOfNecrodancer.jpg",
        'color': "bg-yellow2"
      },
      { 'name': "Dark Maus",
        'detail': "Jeu d’action et RPG punitif où on incarne une souris !",
        'link': "http://www.darkmaus.com/",
        'background': "darkMaus.jpg",
        'color': "bg-yellow1"
      },
      { 'name': "Darkest Dungeon",
        'detail': "Roguelike au tour par tour dans un univers sombre et gothique où la mort des héros est fort probable ...",
        'link': "https://www.darkestdungeon.com/",
        'background': "darkestDungeon.jpg",
        'color': "bg-yellow2"
      },
      { 'name': "Nihilumbra",
        'detail': "Jeu d’aventure dans lequel la narration à une part importante et où il est possible de manipuler les couleurs pour transformer le monde...",
        'link': "http://www.owlboygame.com/",
        'background': "nihilumbra.jpg",
        'color': "bg-yellow1"
      },
      { 'name': "Gonner",
        'detail': "Jeu de plate-formes 2D punitif au contenu généré procéduralement et au style graphique intrigant couplé à une ambiance sonore tribal !",
        'link': "http://www.gonnergame.com/",
        'background': "gonner.png",
        'color': "bg-yellow2"
      },

      { 'name': "Styx Master of Shadows",
        'detail': "Jeu d’infiltration dans un univers médiéval fantastique où vous incarnez une race naissante ...",
        'link': "http://www.styx-masterofshadows.com/",
        'background': "styxMasterOfShadows.jpg",
        'color': "bg-yellow1"
      },
      { 'name': "Guild Wars",
        'detail': "Jeu de rôle en ligne massivement multijoueur au sein de la Tyrie avec des décors fabuleux et une histoire passionnante.",
        'link': "https://www.guildwars.com/",
        'background': "gw1.jpg",
        'color': "bg-yellow2"
      },
      { 'name': "Downwell",
        'detail': "Jeu de rôle en ligne massivement multijoueur au sein de la Tyrie, ancien territoire du premier opus avec des décors fabuleux.",
        'link': "http://downwellgame.com/",
        'background': "downwell.jpg",
        'color': "bg-yellow1"
      },
      { 'name': "Owlboy",
        'detail': "Jeu d’aventure immergeant aux pixel art de grande qualité où l’on incarne une chouette !",
        'link': "http://www.owlboygame.com/",
        'background': "owlboy.jpg",
        'color': "bg-yellow2"
      },
      ]
  %}


  {% macro render_target(target) %}
    {% if target is defined %}
        <div class="card {{ target.color }}">
            <div class="card-body text-center">
                {% if target.background %}
                    <img class="card-img-top" src="{{ SITEURL }}/images/wiki/{{ target.background }}"
                         alt="{{ target.name }}">
                {% endif %}
                <h4 class="card-title">
                    <a class="card-link" rel="external" target="_blank" href="{{ target.link }}"> {{ target.name }}</a>
                </h4>
                <p class="card-text">
                    {{ target.detail }}
                </p>
            </div>
            <div class="card-footer">
                  {% if target.category %}
                    <span class="btn btn-dark btn-sm btn-fake-darkless">{{ target.category }}</span>
                  {% endif %}
            </div>
        </div>
    {% endif %}
  {% endmacro %}

  {% macro render_targets(name, dataTarget, targets, init_state='') %}
        {% if targets is defined %}
            <div class="card">
                <div class="card-header clickable" data-toggle="collapse" data-target="#collapse{{ dataTarget.lower() }}">
                    <span class="card-title">{{ name }}</span>
                </div>
                <div id="collapse{{ dataTarget.lower() }}" class="collapse {{ init_state }}" data-parent="#accordion">
                    <div class="card-columns">
                        {% for target in targets %}
                            {{ render_target(target) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
  {% endmacro %}



  <div id="accordion">
      {{ render_targets("Jeux favoris", "game", GAMETARGETS, "show") }}
      {{ render_targets("Shaders", "shaders", SHADERTARGETS) }}
      {{ render_targets("Génération procédurale", "procedural", PCGTARGETS) }}
      {{ render_targets("Modern OpenGL", "opengl", OPENGLTARGETS) }}
      {{ render_targets("Programmation", "prog", PROGRAMMINGTARGETS) }}
  </div>


{% endblock %}
