/**/
/* Fonts */
/**/
/**/

@font-face {
    font-family: MononokiPatched;
    src:url("./fonts/mononokiPatched.ttf");
}


html, p, ul{
  font-family: 'Libre Baskerville', Helvetica, Arial, serif;
}


code,
pre,
pre span{
  font-family: MononokiPatched, monospace;
  font-style: normal;
  font-size: 0.9rem;
}

.read-more span,
.btn-tag span,
.btn-category span
{
  font-family: Signika, sans-serif;
}


.pagination {
  font-family: 'Libre Baskerville', Helvetica, Arial, serif;
}

h1, h2, h3 {
  font-family: Signika, sans-serif;
  font-size: 2rem;
  color: #073642DD;
}

h4 {
  font-family: Signika, sans-serif;
  font-size: 1.5rem;
}

h1, h2, .post-date{
  font-family: Signika, sans-serif;
}

@media (min-width: 52em) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 64em) {
  html {
    font-size: 18px;
  }
}


/**/
/**/
/* Color theme*/
/**/
/**/
body {
  background: #F8F8F8;
  background-size: cover;
  background-image: url('../img/lightpaperfibers_blurest.png');
  background-repeat: repeat;
  color: #073642;
}


.theme-base-mine .footer-about a {
  color: #cb4b16;
}

.theme-base-mine .sidebar {
  background: url('../img/ricepaper2.png');
}
.theme-base-mine .read-more {
  background-color: #FFF7F7;
}
.theme-base-mine .btn-category {
  background: rgba(115, 105, 150, .1);
}
.theme-base-mine .content a,
.theme-base-mine .related-posts li a:hover {
  color: #cb4b16;
}

.theme-base-mine .sidebar-nav-item-icon,
.theme-base-mine .sidebar-nav-item {
  background: #073642BB;
}
.theme-base-mine a.sidebar-nav-item-icon:hover,
.theme-base-mine a.sidebar-nav-item-icon:focus,
.theme-base-mine a.sidebar-nav-item:hover,
.theme-base-mine a.sidebar-nav-item:focus {
  background: #9790AF;
  text-decoration: none;
}
.theme-base-mine .sidebar-nav-item-icon.active,
.theme-base-mine .sidebar-nav-item.active {
  color: #fff;
  background: #9790AF;
  cursor: default;
}
.theme-base-mine a.sidebar-nav-item-icon.active:hover,
.theme-base-mine a.sidebar-nav-item-icon.active:focus,
.theme-base-mine a.sidebar-nav-item.active:hover,
.theme-base-mine a.sidebar-nav-item.active:focus {
  color: #fff;
}


.theme-base-mine .sidebar-about a,
.theme-base-mine .sidebar-about h1 {
  color: #073642DD;
  font-size: 2rem;
}

.theme-base-mine .post-title h1 a{
  font-size: 2rem;
}

.theme-base-mine .post-title a {
  color: #073642DD;
}

.theme-base-mine .post-title img {
  float: left;
  height: 75px;
}

.theme-base-mine .post-date {
  color: #9a9a9a;
}


.img_404 {
  max-width: 80%;
  max-height: 30rem;
  padding: 1em;
}




/**/
/**/
/* Content vertically centered with moving margin width */
/**/
/**/
.fixed-bottom {
  position: relative;
  bottom: -10px;
}

.footer-about {
  font-size: 0.65rem;
}


.content {
  margin-top:    3rem;
  margin-bottom: 4rem;
}


@media (min-width: 52em) {
  .sidebar {
    width: 16.9rem;
  }
  .container {
      max-width: 32rem;
      margin-left:  38%;
  }
}

@media (min-width: 64em) {
  .sidebar {
    width: 16.9rem;
  }
  .container {
      max-width: 35rem;
      margin-left:  35%;
  }
}

@media (min-width: 84em) {
  .sidebar {
    width: 16.9rem;
  }
  .container {
      max-width: 55rem;
      margin-left:  30%;
  }
}




/**/
/**/
/* Posts */
/**/
/**/

.post {
  padding: .6rem .8rem 1.5rem .8rem;
  margin-bottom: 6em;
}

.post .post-picture {
  max-height: 25em;
}

.read-more {
  border: 0px;
  border-bottom: 2px solid #eeeeeeee;
  border-right: 1px solid #eeeeeeee;
}

.read-more span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 1.1rem;
  font-weight: bold;
  color: #073642;
}

.read-more:focus,
.read-more:hover {
  opacity: 1;
  right: 0;
  box-shadow: 0px 0px 0px 0px #eeeeeeee, -1px -1px 1px 1px #eeeeeeee;
}

.read-more:active {
  opacity: 1;
  right: 0;
  box-shadow: 0px 0px 0px 0px #eeeeeeee, -1px -1px 1px 1px #eeeeeeee;
}

.read-more span:after {
  font-family: ForkAwesome;
  content: "\f0f4";
  white-space: pre;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -100%;
  transition: 0.5s;
}

.read-more:hover span {
  padding-right: 30px;
}

.read-more:hover span:after {
  opacity: 1;
  right: 0;
}


.short-bottom-margin{
  margin-bottom: 0px;
}


/**/
/**/
/* Categories / Tags */
/**/
/**/

.btn-tag,
.btn-category{
  padding: .5em .8em;
  /*border: 0px solid #eee;*/
  border: 0px ;
  font-size: .9em;
  margin-top: 1em;
  font-weight: bold;
}

.btn-category{
  font-size: 1.0em;
}

.btn-tag:focus,
.btn-tag:hover,
.btn-category:focus,
.btn-category:hover {
  opacity: 1;
  right: 0;
  box-shadow: 1px 1px 1px 1px rgba(115, 105, 150, .2), -1px -1px 1px 1px rgba(115, 105, 150, .2);
}

.btn-tag:active,
.btn-category:active {
  opacity: 1;
  right: 0;
  box-shadow: 2px 2px 2px 2px rgba(115, 105, 150, .5), -2px -2px 2px 2px rgba(115, 105, 150, .5);
}

.btn-category span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-weight: bold;
}

.btn-category span:after {
  font-family: ForkAwesome;
  content: "\f0fc";
  position: absolute;
  opacity: 0;
}

.btn-category:hover span {
  padding-right: 30px;
  transition: 0.3s;
}


.btn-category:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-tag span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-weight: bold;
}

.btn-tag span:after {
  font-family: ForkAwesome;
  content: "\f000";
  position: absolute;
  opacity: 0;
}

.btn-tag:hover span {
  padding-right: 30px;
  transition: 0.3s;
}


.btn-tag:hover span:after {
  opacity: 1;
  right: 0;
}










/**/
/**/
/* Sidebar */
/**/
/**/
.top {
    top: 10px;
}

.bottom {
    margin-top: 20px;
    bottom: 30px;
}


.sidebar-about .profile-picture{
  margin: 0 auto;
  max-width: 8rem;
  max-height: 8rem;
}


.img-responsive {
  max-height: 250px;
}

.sidebar-nav-item {
  font-size: .8rem;
}

.sidebar-nav-item-icon {
  font-size: .8rem;
  font-weight: bold;
  padding: .1rem 0.5rem;
  margin: 0rem .2rem;
  border-radius: .25rem;
  text-transform: uppercase;
}

.icon-small {
  font-size: .5rem;
  font-weight: normal;
}


.bottom {
  margin-bottom: -2.5em;
}

.no-top-margin {
  margin-top: -0.5em;
}



/**/
/**/
/* Cards */
/**/
/**/
#accordion .card .clickable {
  cursor: pointer;
}

#accordion .card .clickable span {
  font-size: 1.1rem;
}

#accordion .card .card-columns {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#accordion .card-text {
  margin-top: 2rem;
  font-size: 0.8rem;
}

#accordion .card-text{
  color: #3C3131;
}

#accordion .list-inline {
  padding-left: 10%;
}

#accordion .card-text li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#accordion .card-title a{
  color: #313131;
}

#accordion .btn-fake-darkless {
  background-color: #4B3E3E;
  cursor: initial;
}


.bg-yellow1 {
  background-color: #eee8d5;
}
.bg-yellow2 {
  background-color: #fdf6e3;
}


.bg-blue {
  background-color: #2aa198;
}

.bg-red {
  background-color: #DB7573;
}

.bg-green {
  background-color: #46A21A;
}



/**/
/**/
/* Tipue Search */
/**/
/**/
#tipue_search_input
{
  color: #9a9a9a;
  max-width: 11rem;
}

#tipue_search_input:focus,
#tipue_search_input:hover,
#tipue_search_input:active {
  box-shadow: 1px 1px 1px 1px rgba(115, 105, 150, .2), -1px -1px 1px 1px rgba(115, 105, 150, .2);
}


#tipue_search_content {
  overflow-y: auto;
  max-height: 28rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

#tipue_search_input,
#tipue_search_warning,
#tipue_search_results_count,
.tipue_search_content_title,
.tipue_search_content_url,
.tipue_search_content_text
{
  color: #073642;
}

.tipue_search_content_text {
  text-align: left;
  font-size: 0.7rem;
}

.tipue_search_content_url a,
.tipue_search_content_title a,
#tipue_search_warning a {
  color: #073642;
}

.tipue_search_content_url a:hover,
.tipue_search_content_title a:hover,
#tipue_search_warning a:hover {
  color: #9790AF;
}


.tipue_search_content_url {
  font-size: 0.65rem;
}

.tipue_search_content_title {
  font-size: 0.9rem;
  font-weight: bold;
}


@media (max-height: 46em) and (min-width: 52em) {
  #tipue_search_content {
    max-height: 20rem;
  }

  .tipue-search-sidebar {
    display: block;
  }
}


@media (max-height: 40em) and (min-width: 52em) {
  #tipue_search_content {
    max-height: 10rem;
  }

  .tipue-search-sidebar {
    display: block;
  }

}

@media (max-height: 30em) and (min-width: 52em) {
  #tipue_search_content {
    max-height: 0rem;
  }

  .tipue-search-sidebar {
    display: none;
  }

}

@media (max-height: 15em) and (min-width: 52em) {

  #tipue_search_content {
    max-height: 0rem;
  }

  .tipue-search-sidebar {
    display: none;
  }

  .profile-picture{
    display: none;
  }
}







/**/
/**/
/* Notebook */
/**/
/**/
div.cell {
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  width: 100%;
  padding: 5px;
  /* This acts as a spacer between cells, that is outside the border */
  margin: 0px;
  outline: none;
  position: relative;
  overflow: visible;
}
div.cell:before {
  position: absolute;
  display: block;
  top: -1px;
  left: -1px;
  width: 5px;
  height: calc(100% +  2px);
  content: '';
  background: transparent;
}
div.cell.jupyter-soft-selected {
  border-left-color: #<span class="caps">E3F2FD</span>;
  border-left-width: 1px;
  padding-left: 5px;
  border-right-color: #<span class="caps">E3F2FD</span>;
  border-right-width: 1px;
  background: #<span class="caps">E3F2FD</span>;
}
@media print {
  div.cell.jupyter-soft-selected {
    border-color: transparent;
  }
}
div.cell.selected,
div.cell.selected.jupyter-soft-selected {
  border-color: #ababab;
}
div.cell.selected:before,
div.cell.selected.jupyter-soft-selected:before {
  position: absolute;
  display: block;
  top: -1px;
  left: -1px;
  width: 5px;
  height: calc(100% +  2px);
  content: '';
  background: #<span class="caps">42A5F5</span>;
}
@media print {
  div.cell.selected,
  div.cell.selected.jupyter-soft-selected {
    border-color: transparent;
  }
}
.edit_mode div.cell.selected {
  border-color: #<span class="caps">66BB6A</span>;
}
.edit_mode div.cell.selected:before {
  position: absolute;
  display: block;
  top: -1px;
  left: -1px;
  width: 5px;
  height: calc(100% +  2px);
  content: '';
  background: #<span class="caps">66BB6A</span>;
}
@media print {
  .edit_mode div.cell.selected {
    border-color: transparent;
  }
}
.prompt {
  /* This needs to be wide enough for 3 digit prompt numbers: In[100]: */
  min-width: 14ex;
  /* This padding is tuned to match the padding on the CodeMirror editor. */
  padding: 0.4em;
  margin: 0px;
  /*font-family: monospace;*/
  text-align: right;
   This has to match that of the the CodeMirror class line-height below
  line-height: 1.21429em;
  /* Don't highlight prompt number selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Use default cursor */
  cursor: default;
}
@media (max-width: 540px) {
  .prompt {
    text-align: left;
  }
}
div.inner_cell {
  min-width: 0;
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* Old browsers */
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  /* Modern browsers */
  flex: 1;
}
/* input_area and input_prompt must match in top border and margin for alignment */
div.input_area {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  background: #f3f0e7;
  line-height: 1.21429em;
}
/* This is needed so that empty prompt areas can collapse to zero height when there
   is no content in the output_subarea and the prompt. The main purpose of this is
   to make sure that empty JavaScript output_subareas have no height. */
div.prompt:empty {
  padding-top: 0;
  padding-bottom: 0;
}
div.unrecognized_cell {
  padding: 5px 5px 5px 0px;
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
div.unrecognized_cell .inner_cell {
  border-radius: 2px;
  padding: 5px;
  font-weight: bold;
  color: red;
  border: 1px solid #cfcfcf;
  background: #eaeaea;
}
div.unrecognized_cell .inner_cell a {
  color: inherit;
  text-decoration: none;
}
div.unrecognized_cell .inner_cell a:hover {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 540px) {
  div.unrecognized_cell > div.prompt {
    display: none;
  }
}
div.code_cell {
  /* avoid page breaking on code cells when printing */
}
@media print {
  div.code_cell {
    page-break-inside: avoid;
  }
}
/* any special styling for code cells that are currently running goes here */
div.input {
  page-break-inside: avoid;
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
@media (max-width: 540px) {
  div.input {
    /* Old browsers */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: box;
    box-orient: vertical;
    box-align: stretch;
    /* Modern browsers */
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
/* input_area and input_prompt must match in top border and margin for alignment */
div.input_prompt {
  color: #<span class="caps">303F9F</span>;
  border-top: 1px solid transparent;
}
div.input_area > div.highlight {
  margin: 0.4em;
  border: none;
  padding: 0px;
  background-color: transparent;
}
div.input_area > div.highlight > pre {
  margin: 0px;
  border: none;
  padding: 0px;
  background-color: transparent;
}
/* The following gets added to the <head> if it is detected that the user has a
 * monospace font with inconsistent normal/bold/italic height.  See
 * notebookmain.js.  Such fonts will have keywords vertically offset with
 * respect to the rest of the text.  The user should select a better font.
 * See: https://github.com/ipython/ipython/issues/1503
 *
 * .CodeMirror span {
 *      vertical-align: bottom;
 * }
 */
.CodeMirror {
  line-height: 1.21429em;
  /* Changed from 1em to our global default */
  font-size: 14px;
  height: auto;
  /* Changed to auto to autogrow */
  background: none;
  /* Changed from white to allow our bg to show through */
}
.CodeMirror-scroll {
  /*  The CodeMirror docs are a bit fuzzy on if overflow-y should be hidden or visible.*/
  /*  We have found that if it is visible, vertical scrollbars appear with font size changes.*/
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-lines {
  /* In <span class="caps">CM2</span>, this used to be 0.4em, but in <span class="caps">CM3</span> it went to 4px. We need the em value because */
  /* we have set a different line-height and want this to scale with that. */
  /* Note that this should set vertical padding only, since CodeMirror assumes
       that horizontal padding will be set on CodeMirror pre */
  padding: 0.4em 0;
}
.CodeMirror-linenumber {
  padding: 0 8px 0 4px;
}
.CodeMirror-gutters {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.CodeMirror pre {
  /* In <span class="caps">CM3</span> this went to 4px from 0 in <span class="caps">CM2</span>. This sets horizontal padding only,
    use .CodeMirror-lines for vertical */
  padding: 0 0.4em;
  border: 0;
  border-radius: 0;
}
.CodeMirror-cursor {
  border-left: 1.4px solid black;
}
@media screen and (min-width: 2138px) and (max-width: 4319px) {
  .CodeMirror-cursor {
    border-left: 2px solid black;
  }
}
@media screen and (min-width: 4320px) {
  .CodeMirror-cursor {
    border-left: 4px solid black;
  }
}


/*Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>
Adapted from GitHub theme*/
.highlight-base {
  color: #000;
}
.highlight-variable {
  color: #000;
}
.highlight-variable-2 {
  color: #1a1a1a;
}
.highlight-variable-3 {
  color: #333333;
}
.highlight-string {
  color: #<span class="caps">BA2121</span>;
}
.highlight-comment {
  color: #408080;
  font-style: italic;
}
.highlight-number {
  color: #080;
}
.highlight-atom {
  color: #88F;
}
.highlight-keyword {
  color: #008000;
  font-weight: bold;
}
.highlight-builtin {
  color: #008000;
}
.highlight-error {
  color: #f00;
}
.highlight-operator {
  color: #<span class="caps">AA22FF</span>;
  font-weight: bold;
}
.highlight-meta {
  color: #<span class="caps">AA22FF</span>;
}
/* previously not defined, copying from default codemirror */
.highlight-def {
  color: #00f;
}
.highlight-string-2 {
  color: #f50;
}
.highlight-qualifier {
  color: #555;
}
.highlight-bracket {
  color: #997;
}
.highlight-tag {
  color: #170;
}
.highlight-attribute {
  color: #00c;
}
.highlight-header {
  color: blue;
}
.highlight-quote {
  color: #090;
}
.highlight-link {
  color: #00c;
}
/* apply the same style to codemirror */
.cm-s-ipython span.cm-keyword {
  color: #008000;
  font-weight: bold;
}
.cm-s-ipython span.cm-atom {
  color: #88F;
}
.cm-s-ipython span.cm-number {
  color: #080;
}
.cm-s-ipython span.cm-def {
  color: #00f;
}
.cm-s-ipython span.cm-variable {
  color: #000;
}
.cm-s-ipython span.cm-operator {
  color: #<span class="caps">AA22FF</span>;
  font-weight: bold;
}
.cm-s-ipython span.cm-variable-2 {
  color: #1a1a1a;
}
.cm-s-ipython span.cm-variable-3 {
  color: #333333;
}
.cm-s-ipython span.cm-comment {
  color: #408080;
  font-style: italic;
}
.cm-s-ipython span.cm-string {
  color: #<span class="caps">BA2121</span>;
}
.cm-s-ipython span.cm-string-2 {
  color: #f50;
}
.cm-s-ipython span.cm-meta {
  color: #<span class="caps">AA22FF</span>;
}
.cm-s-ipython span.cm-qualifier {
  color: #555;
}
.cm-s-ipython span.cm-builtin {
  color: #008000;
}
.cm-s-ipython span.cm-bracket {
  color: #997;
}
.cm-s-ipython span.cm-tag {
  color: #170;
}
.cm-s-ipython span.cm-attribute {
  color: #00c;
}
.cm-s-ipython span.cm-header {
  color: blue;
}
.cm-s-ipython span.cm-quote {
  color: #090;
}
.cm-s-ipython span.cm-link {
  color: #00c;
}
.cm-s-ipython span.cm-error {
  color: #f00;
}
.cm-s-ipython span.cm-tab {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
  background-position: right;
  background-repeat: no-repeat;
}
div.output_wrapper {
  /* this position must be relative to enable descendents to be absolute within it */
  position: relative;
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 1;
}
/* class for the output area when it should be height-limited */
div.output_scroll {
  /* ideally, this would be max-height, but <span class="caps">FF</span> barfs all over that */
  height: 24em;
  /* <span class="caps">FF</span> needs this *and the wrapper* to specify full width, or it will shrinkwrap */
  width: 100%;
  overflow: auto;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
  display: block;
}
/* output div while it is collapsed */
div.output_collapsed {
  margin: 0px;
  padding: 0px;
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
div.out_prompt_overlay {
  height: 100%;
  padding: 0px 0.4em;
  position: absolute;
  border-radius: 2px;
}
div.out_prompt_overlay:hover {
  /* use inner shadow to get border that is computed the same on WebKit/<span class="caps">FF</span> */
  -webkit-box-shadow: inset 0 0 1px #000;
  box-shadow: inset 0 0 1px #000;
  background: rgba(240, 240, 240, 0.5);
}
div.output_prompt {
  color: #D84315;
}
/* This class is the outer container of all output sections. */
div.output_area {
  padding: 0px;
  page-break-inside: avoid;
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
div.output_area .MathJax_Display {
  text-align: left !important;
}
div.output_area
div.output_area
div.output_area img,
div.output_area svg {
  max-width: 100%;
  height: auto;
}
div.output_area img.unconfined,
div.output_area svg.unconfined {
  max-width: none;
}
div.output_area .mglyph > img {
  max-width: none;
}
/* This is needed to protect the pre formating from global settings such
   as that of bootstrap */
.output {
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 540px) {
  div.output_area {
    /* Old browsers */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: box;
    box-orient: vertical;
    box-align: stretch;
    /* Modern browsers */
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
div.output_area pre {
  margin: 0;
  padding: 1px 0 1px 0;
  border: 0;
  vertical-align: baseline;
  color: black;
  background-color: transparent;
  border-radius: 0;
}
/* This class is for the output subarea inside the output_area and after
   the prompt div. */
div.output_subarea {
  overflow-x: auto;
  padding: 0.4em;
  /* Old browsers */
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  /* Modern browsers */
  flex: 1;
  max-width: calc(100% - 14ex);
}
div.output_scroll div.output_subarea {
  overflow-x: visible;
}
/* The rest of the output_* classes are for special styling of the different
   output types */
/* all text output has this class: */
div.output_text {
  text-align: left;
  color: #000;
  /* This has to match that of the the CodeMirror class line-height below */
  line-height: 1.21429em;
}
/* stdout/stderr are 'text' as well as 'stream', but execute_result/error are *not* streams */
div.output_stderr {
  background: #fdd;
  /* very light red background for stderr */
}
div.output_latex {
  text-align: left;
}
/* Empty output_javascript divs should have no height */
div.output_javascript:empty {
  padding: 0;
}
.js-error {
  color: darkred;
}
/* raw_input styles */
div.raw_input_container {
  line-height: 1.21429em;
  padding-top: 5px;
}
pre.raw_input_prompt {
  /* nothing needed here. */
}
input.raw_input {
  /*font-family: monospace;*/
  font-size: inherit;
  color: inherit;
  width: auto;
  /* make sure input baseline aligns with prompt */
  vertical-align: baseline;
  /* padding + margin = 0.5em between prompt and cursor */
  padding: 0em 0.25em;
  margin: 0em 0.25em;
}
input.raw_input:focus {
  box-shadow: none;
}
p.p-space {
  margin-bottom: 10px;
}
div.output_unrecognized {
  padding: 5px;
  font-weight: bold;
  color: red;
}
div.output_unrecognized a {
  color: inherit;
  text-decoration: none;
}
div.output_unrecognized a:hover {
  color: inherit;
  text-decoration: none;
}
.rendered_html {
  color: #000;
  /* any extras will just be numbers: */
}



.rendered_html :link {
  text-decoration: underline;
}
.rendered_html :visited {
  text-decoration: underline;
}






.rendered_html h1:first-child {
  margin-top: 0.538em;
}
.rendered_html h2:first-child {
  margin-top: 0.636em;
}
.rendered_html h3:first-child {
  margin-top: 0.777em;
}
.rendered_html h4:first-child {
  margin-top: 1em;
}
.rendered_html h5:first-child {
  margin-top: 1em;
}
.rendered_html h6:first-child {
  margin-top: 1em;
}
.rendered_html ul:not(.list-inline),
.rendered_html ol:not(.list-inline) {
  padding-left: 2em;
}








.rendered_html * + ul {
  margin-top: 1em;
}
.rendered_html * + ol {
  margin-top: 1em;
}





.rendered_html pre,




.rendered_html tr,
.rendered_html th,


.rendered_html tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
.rendered_html tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}
.rendered_html * + table {
  margin-top: 1em;
}

.rendered_html * + p {
  margin-top: 1em;
}

.rendered_html * + img {
  margin-top: 1em;
}
.rendered_html img,

.rendered_html img.unconfined,


.rendered_html * + .alert {
  margin-top: 1em;
}
[dir="rtl"]
div.text_cell {
  /* Old browsers */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  /* Modern browsers */
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
@media (max-width: 540px) {
  div.text_cell > div.prompt {
    display: none;
  }
}
div.text_cell_render {
  font-family: 'Libre Baskerville', Helvetica, Arial, serif;
  outline: none;
  resize: none;
  width: inherit;
  border-style: none;
  padding: 0.5em 0.5em 0.5em 0.4em;
  color: #000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a.anchor-link:link {
  text-decoration: none;
  padding: 0px 20px;
  visibility: hidden;
}
h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link {
  visibility: visible;
}
.text_cell.rendered .input_area {
  display: none;
}
.text_cell.rendered
.text_cell.rendered .rendered_html tr,
.text_cell.rendered .rendered_html th,
.text_cell.rendered
.text_cell.unrendered .text_cell_render {
  display: none;
}
.text_cell .dropzone .input_area {
  border: 2px dashed #bababa;
  margin: -1px;
}
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  font-weight: bold;
  font-family: 'Libre Baskerville', Helvetica, Arial, serif;
}
.cm-header-1 {
  font-size: 185.7%;
}
.cm-header-2 {
  font-size: 157.1%;
}
.cm-header-3 {
  font-size: 128.6%;
}
.cm-header-4 {
  font-size: 110%;
}
.cm-header-5 {
  font-size: 100%;
  font-style: italic;
}
.cm-header-6 {
  font-size: 100%;
  font-style: italic;
}
